@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('./header.css');
@import url('./index-main.css');
@import url('./footer.css');


body{
    font-family: 'Roboto' !important;
    background-color: rgba(255, 255, 255, 0.8);
}

h1, h5 {
    font-weight: 100;
}
.container{
    display:grid;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "main main main main main main"
    "ft ft ft ft ft ft";
    margin: 20px;
    grid-gap:  20px 0;
}






/* In case of tablet users: */
@media screen and (min-width: 701px) and (max-width: 1050px) {
    .main {
        grid-template-columns: 1fr;
        }
        .header{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;
        }
    
}
  /* In case of mobile users: */
@media screen and (max-width: 700px){
    .main {
    grid-template-columns: 1fr;
    }
    .header{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

}

