@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto' !important;
    background-color: rgba(255, 255, 255, 0.8);
}

h1, h5 {
    font-weight: 100;
}
.container{
    display:grid;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "main main main main main main"
    "ft ft ft ft ft ft";
    margin: 20px;
    grid-gap:  20px 0;
}
.header{
    grid-area:hd;
    display: flex;
    background-color: #e2e2e2 ;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 5px gray;
}
.header input{
    padding: 8px;
}

.main{
    grid-area:main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e2e2e2 ;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    grid-gap: 20px 10px;
    border-radius: 30px;
}
.grid-card {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 5px 5px 5px gray;
}

.grid-card >* {
    margin: 7px 0;
}

.blog-type{
    color:#00BFFF	;
    font-weight: 900;
    font-size: 20px;
}

.blog-title{
    font-size: 30px;
    font-weight: 900;
}
.blog-date{
    color: gray;
}


.footer{
    grid-area:ft;
    display: flex;
    margin-top: 10px;
    background-color: #e2e2e2 ;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    box-shadow: 5px 5px 5px gray;
}


/* In case of tablet users: */
@media screen and (min-width: 701px) and (max-width: 1050px) {
    .main {
        grid-template-columns: 1fr;
        }
        .header{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;
        }
    
}
  /* In case of mobile users: */
@media screen and (max-width: 700px){
    .main {
    grid-template-columns: 1fr;
    }
    .header{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

}

