@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto' !important;
    background-color: rgba(255, 255, 255, 0.8);
}

h1, h5 {
    font-weight: 100;
}
.container{
    display:grid;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "main main main main main side"
    "ft ft ft ft ft ft";
    margin: 20px;
    grid-gap:  20px 20px;
}
.header{
    grid-area:hd;
    display: flex;
    background-color: #e2e2e2 ;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 5px gray;
}
.header input{
    padding: 8px;
}

.main{
    grid-area:main;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    padding: 15px;
    border-radius: 20px;
    flex-direction: column;
}

.main >* {
    margin: 7px 0;
}

.blog-title{
    font-size: 30px;
    font-weight: 900;
}

.blog-author{
    color: gray;
}

.side{
    grid-area:side;
    display: grid;
    grid-template-areas: 
    "about"
    "archives"
    "elsewhere";
    background-color: #e2e2e2 ;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 30px; 
    grid-gap: 10px 0;
}

.card-title{
    font-style: italic;
    font-weight: bold;
}
.side-link {
    display: block;
    margin-top: 5px;
}

.about-card {
    grid-area:about;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 30px; 
    padding: 20px;
}

.elsewhere-card {
    grid-area:elsewhere;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 30px; 
    padding: 20px;
    
}
.archives-card{
    grid-area:archives;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 30px; 
    padding: 20px;
}


.footer{
    grid-area:ft;
    display: flex;
    margin-top: 10px;
    background-color: #e2e2e2 ;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    box-shadow: 5px 5px 5px gray;
}

.blog-button{
   margin: 5px;
   font-size: 20px;
   box-shadow: 5px 5px 5px gray;
}


/* In case of tablet users: */
@media screen and (min-width: 701px) and (max-width: 1050px) {
    .container{
        display:grid;
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "main main main main main main"
        "side side side side side side"
        "ft ft ft ft ft ft";
    }
        .header{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;
        }
    
}
  /* In case of mobile users: */
@media screen and (max-width: 700px){
    .container{
        display:grid;
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "main main main main main main"
        "side side side side side side"
        "ft ft ft ft ft ft";
    }
    .header{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

}

